<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="DAZN Automation Suite" parallel="false">

    <!-- Define browser parameter, can be passed dynamically (chrome/edge) -->
    <parameter name="browser" value="chrome"/>

    <test name="Event Page Tests">
        <classes>
            <!-- Add your test class here -->
            <class name="com.dazn.automation.tests.EventPageTest"/>
        </classes>
    </test>

</suite>
